name: Main

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml
  tests:
    uses: ./.github/workflows/tests.yaml
    needs: lint
  snyk: 
    uses: ./.github/workflows/snyk.yaml
    needs: [lint, tests]